@font-face{
    font-family: passionone;
    src: url(fonts/passionone_regular.ttf);
}

body{
    font-family: passionone;
    background-color: #DB8249;
    margin: 0; 
}

/* CART */

.form::placeholder{
    font-family: passionone;
}

.form{
    background-color: white;
    margin-left: 4%;
    margin-right: 4%;
    padding: 20px;
    
}


.options{
    margin-left: 4%;
}

.background-gray{
    background-color: #D9D9D9;
    margin-left: 12.5%;
    margin-right: 12.5%;
    height: 100vh;
}

/* FOOTER */

#instagram{
    margin: 0;
    padding: 0;
    border-style: hidden;
    background-color: inherit;
}

#twitter{
    margin: 0;
    padding: 0;
    border-style: hidden;
    background-color: inherit;
}

#tiktok{
    margin: 0;
    padding: 0;
    border-style: hidden;
    background-color: inherit;
}

.footer{
    position: fixed;
    bottom: 0; 
    height: 14.58501208702659vh;
    width: 100vw;
    background-color: #D9D9D9;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.copyright{
    margin-left: 40px;
}

.social_media{
    font-size: 13px;
    margin-right: 40px;
    justify-content: center;
    text-align: center;
}

.social_media_buttons{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;  
    margin-bottom: 15%;
}

/* STUDENT DISCOUNT */

.student_discount{
    margin: auto;
    width: 50%;
}

.student_discount_box{
    margin: auto;
    position: relative;
    background-color: #D9D9D9;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    width: 40vw;
    border-radius: 10px;
}

#student_title{
    font-size: 40px;
    text-align: center;
    margin-top: 10%;
    text-decoration: underline;
    color: white;
    }

#student_h4{
    margin-left: 5%;
}

.sidenav {
    text-align: center;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 190px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #c7392c; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav a {
    border: solid 2px;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #DB8249;
    display: block;
  }

  .ham{
    margin-top: 20px;
    border-top: solid 2px;
    color: #DB8249;
  }

.burger{
    display: flex;
    justify-content: center;
    gap: 150px;
  }

  .meny{
   text-align: center;
  }
