@font-face{
    font-family: passionone;
    src: url(fonts/passionone_regular.ttf);
}

body{
    font-family: passionone;
    background-color: #DB8249;
}

/* CART */

.form::placeholder{
    font-family: passionone;
}

/* FOOTER */

#instagram{
    margin: 0;
    padding: 0;
    border-style: hidden;
    background-color: inherit;
}

#twitter{
    margin: 0;
    padding: 0;
    border-style: hidden;
    background-color: inherit;
}

#tiktok{
    margin: 0;
    padding: 0;
    border-style: hidden;
    background-color: inherit;
}

.footer{
    position: fixed;
    bottom: 0; 
    height: 14.58501208702659vh;
    width: 100vw;
    background-color: #D9D9D9;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.copyright{
    margin-left: 40px;
}

.social_media{
    font-size: 13px;
    margin-right: 40px;
    justify-content: center;
    text-align: center;
}

.social_media_buttons{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;  
    margin-bottom: 15%;
}

/* STUDENT DISCOUNT */

.student_discount{
    margin: auto;
    width: 50%;
}

.student_discount_box{
    margin: auto;
    position: relative;
    background-color: #D9D9D9;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    width: 40vw;
    border-radius: 10px;
}

#student_title{
    font-size: 40px;
    text-align: center;
    margin-top: 10%;
    text-decoration: underline;
    color: white;
    }

#student_h4{
    margin-left: 5%;
}
